@{
    ViewBag.Title = "Контакты";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Смагин Максим Борисович<br />
    <abbr title="Phone">тел.:</abbr>
    +7-951-313-01-86
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:MaxGglAcc@gmail.com">MaxGglAcc@gmail.com</a><br />
</address>